html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

.menu {
	text-align: center;
	align-items: center;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
	padding-top: 15px;
	padding-bottom: 15px;
	z-index: 100;
	display: inline-block;
	position: fixed;
	transform: translate(-50%, 0%);
  width: 100%;
}

.menu li a {
	color: white;
	padding: 20px;
	text-decoration: none;
	font-family: 'Montserrat';
}

.menu li a:hover {
	background-color: #111;
	color: aquamarine;
}

.menu li {
	display: inline;
}
.overlay {
	display: none;
}
.spanNav{
  display: none;
}

.carousel-indicators li {
  background-color: rgb(0, 0, 0);
}

.firstBackground{
  height: 100vh;
  width: 100vw;
  opacity: 0.4;
}

.carousel-caption {
  top: 0%;
  transform: translateY(20%);
  text-transform: uppercase;
  left: 20%;
}
.carousel-caption h1{
  z-index: 100;
  justify-content: center;
  color: #FFFFFF;
  margin-left: 3%;
  margin-top: 10%;
}

.carousel-caption h2 {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.btn {
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 10px;
  background-color: #334955;
  border: 2px solid #fff;
  border-radius: 30px;
  width: 200px;
  margin-top: 5%;
  margin-left: 48%;
}

.btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
}

h1 {
  margin-top: 70px;
}

h1,
h2,
p {
  color: #fff;
  text-align: center;
}

.firstScreen {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.secondScreen {
  position: relative;
  height: 100%;
  max-height: 1080px;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%
}

.aboutTitleFrame{
  margin-left: 0%;
}

.aboutParaFrame{
  margin-left: 25%;
  width: 50vw;
}

.aboutMePara {
  color: #fff;
  font-size: 18px;
}

.aboutMeTitle {
  color: #fff;
  margin-top: 10vh;
}

.thirdScreen {
  position: relative;
  height: 100%;
  min-height: 500px;
  max-height: 2080px;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.experience-row {
  width: 100%;
  margin-top: 2%;
}

.dates {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.datesRow {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 65px;
  font-weight: 300;
  color: #ffffff;
  font-size: 16px;
}

.dot {
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #334955;
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px;
  margin-top: 50px;
}

.experience-content {
  margin-left: 400px;
  width: 60%;
  background:#334955;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

.experience-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #ffffff;
  display: inline-block;
  margin: 0;
}

.experience-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #bbc9d4;
  margin: 0 0 15px 0;
}

.experience-content ul {
  color: #e0e0e0;
}

.fourthScreen {
  position: relative;
  height: 100%;
  min-height: 500px;
  max-height: 2080px;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.education-row {
  max-width: 1000px;
  margin: 0 auto 30px auto;
  padding: 15px;
  background-color: #334955;
  text-align: left;
  border-radius: 10px;
}

.education-row h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #ffffff;
}

.education-row span {
  color: #334955;
  float: right;
}

.education-row h4 {
  color: #bbc9d4;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0;
}

.education-row p {
  font-weight: 500;
  text-align: left;
  color: #e0e0e0;
  margin: 0 0 15px 0;
}

.fifthScreen {
  position: relative;
  height: 100%;
  min-height: 500px;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.filterDiv {
  color: #ffffff;
  text-align: center;
  margin: 2px;
  display: none;
}
.show {
  display: block;
}
.filterBtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.filterBtn:hover {
  background-color: #ddd;
}

.filterBtn.active {
  background-color: #666;
  color: white;
}

.button {
  border-radius: 6px;
  background-color: #d3a016;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.projects {
  margin-top: 20px;
  float: left;
  width: 23%;
  margin: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.project_rows{
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.projectBtns{
  margin: 10px;
}

.btnProjects {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  text-decoration: none;
}

.btnProjects:hover {
  background-color: rgb(213, 232, 253);
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #334955;
  border-radius: 20px;
  height: 500px;
}

.card
p, h3 {
  color: #ffffff;
}

.logo {
  justify-content: center;
}

.logo
img {
  width: 8vw;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.learnBtnDiv{
  margin-top: 40px;
}
.btnLearn {
  background-color: rgb(0, 119, 255);
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
}

.btnLearn:hover {
  background-color: rgb(0, 91, 196);
  color: #fff;
  text-decoration: none;
}

.viewMoreBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.sixthScreen {
  position: relative;
  height: 100%;
  min-height: 500px;
  max-height: 1080px;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.sixthScreen ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 80%;
  text-align: center;
}

.sixthScreen li {
  display: inline-block;
  margin: 7px;
  padding: 10px 20px;
  color: #e4e4ea;
  background: #334955;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
  text-align: center;
  width: 80%;
  max-width: 100%;
  border-radius: 10px;
}

.seventhScreen {
  padding-top: 80px;
  position: relative;
  height: 100%;
  min-height: 200px;
  max-height: 1080px;
  background-color: #182329;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}

.divider {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #3b98e3;
  border: none;
  height: 2px;
}

.emailText{
  text-decoration: none;
  color: #FFFFFF;
}

@media (max-width: 1300px) {
  .menu {
		visibility: hidden;
	}

	.spanNav {
    display: block;
    visibility: visible;
		color: #ddd;
		font-size: 30px;
		cursor: pointer;
		position: fixed;
		z-index: 100;
		margin-left: -10px;
		background-color: #000;
		padding: 10px 40px;
	}
	.overlay {
    visibility: visible;
		display: block;
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.95);
		overflow-x: hidden;
		transition: 0.3s;
	}

	.overlay-content {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		margin-top: 30px;
	}

	.overlay a {
		padding: 8px;
		text-decoration: none;
		font-size: 36px;
		color: #e4e4e4;
		display: block;
		transition: 0.3s;
	}

	.overlay a:hover,
	.overlay a:focus {
		color: #f1f1f1;
	}

	.overlay .closebtn {
		position: absolute;
		top: 20px;
		right: 45px;
		font-size: 60px;
	}

  .carousel-inner,
  .item,
  .item img {
    height: 50vh;
  }
  .aboutTitleFrame{
    margin-left: 0%;
  }
  .aboutParaFrame {
    font-size: 14px;
    margin-left: 7%;
    width: 80vw;
    margin-top: 0%;
  }
  .datesRow {
    width: 150px;
    text-align: center;
  }
  .experience-content {
    margin-left: 150px;
    width: 80%;
  }
  .dot {
    display: none;
  }
  .education-row {
    margin-left: 10%;
    width: 80%;
  }
  .education-row h3 {
    font-size: 20px;
  }
  .education-row h4 {
    font-size: 16px;
    margin-top: 10px;
  }
  .education-row span {
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
  }

  .row {
    margin: 10px;
    display: block;
  }

  .card{
    max-height: 65vh;
  }

  .projects {
    width: 97%;
    margin-bottom: 20px;
    float: none;
    margin: 10px;
  }
  .sixthScreen li{
    font-size: 1em;
  }
}

@media (max-width: 767px) {
  .carousel-caption {
    margin-top: 30%;
    text-transform: uppercase;
  }
  .firstScreen {
    height: 50vh;
  }
  .item {
    height: 50vh;
  }
  .carousel-inner > .item > img {
    height: 100%;
  }
  .carousel-caption {
    margin-bottom: 50%;
  }
  .aboutMeTitle {
    color: #fff;
    margin-top: 5%;
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
  .aboutMePara {
    font-size: 14px;
  }
  h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  .btn{
    margin-left: 35%;
  }
  .dates {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 5%;
  }
  .datesRow {
    width: 100%;
    top: 0px;
  }
  .education-row {
    margin-left: 5%;
    width: 80%;
  }
  .experience-content {
    margin-left: 0%;
    width: 100%;
    margin-top: 10%;
  }
  .education-row h3 {
    font-size: 20px;
  }
  .education-row h4 {
    font-size: 16px;
    margin-top: 10px;
  }
  .education-row span {
    font-size: 16px;
    float: left;
    margin-bottom: 10px;
  }
}
