* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial;
}

img {
	width: 100%;
}

/* The grid: Four equal columns that floats next to each other */

.column {
	float: left;
	width: 10%;
}

/* Style the images inside the grid */

.column img {
	opacity: 0.8;
	cursor: pointer;
	height: 80px;
}

.column img:hover {
	opacity: 1;
}

.row {
	width: 100%;
	height: 15%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* The expanding image container */

.container {
	width: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.expandedImg {
	width: 40%;
	height: 40%;
	padding-top: 10px;
}

@media only screen and (max-width: 1000px) {
	.column {
		width: 40%;
	}

	.expandedImg {
		width: 90%;
		height: 40%;
		padding-top: 20px;
	}
}

@media only screen and (max-device-width: 480px) {
	.row {
		display: inline-block;
		height: 9%;
	}

	.column {
		width: 20%;
	}

	.column img {
		height: 160px;
	}

	.expandedImg {
		margin-top: 15%;
	}
}
